body {
    background-color:gold;
    background-image: url(./img/fundo.jpg);
  }
  
  h1 {
    color: rgb(20, 225, 50);
    text-align: center;
    background-color:rgba(255, 255, 0, 0.47);
    border-color: rgba(0, 0, 0, 0.747);

  }
  h2 {
    color:rgb(183, 126, 52);
    text-align:center;
    text-shadow: 1px 2px 3px royalblue;
  }
  p {
    color:cornflowerblue;
    font-family: Verdana;
    font-size: 15px;
    text-align: justify;
    text-shadow: 2px 2px 5px red;
    text-indent: 25px;
  }
  /*CLASS*/
.center{ 
  text-align: center;
}

.fonte-cor {
  color:#ffffff;
  border: 5px solid #15f424;
  border-width: 10px 4px;
  border-radius: 25px;
  border-left: 2px;
  border-right: 2px;
  padding: 10px;
  margin-bottom: 8px;
}

/*ID*/
#para {
  font-family: verdana;
  font-size: 15px;
  text-align: justify;

}