body {
    background-color:gold;
  }
  
  h1 {
    color: rgb(20, 225, 50);
    text-align: center;
    background-color:rgba(255, 255, 0, 0.47);
    border-color: rgba(0, 0, 0, 0.747);

  }
  h2 {
    color:rgb(183, 126, 52);
    text-align:center;
  }
  p {
    color:cornflowerblue;
    font-family: Verdana;
    font-size: 20px;
  }
  /*CLASS*/
.center{ 
  text-align: center;
}

.fonte-cor {
  color:#b31010;
}

/*ID*/
#para {
  font-family: verdana;
  font-size: 20px;
}